# البيئة الوهمية ومتغيرات البيئة
venv/
.env
__pycache__/

# قاعدة البيانات (مهم جداً ألا تُرفع ليتمكن كل شخص من اختبار قاعدة بياناته محلياً)
*.sqlite
*.db

# ملفات الـ Frontend الثقيلة
node_modules/
dist/
.DS_Store